<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker Country Wice</h1>
  <hr>
  <div class="mx-auto">
    <div class="form-group col-lg-5 mx-auto">
      <label for="c">Select Country</label>
      <select name="" class="form-control" id="c" #selectedCountry (change)="selectCountry(selectedCountry.value)">
        <option selected disabled="true">Select Country</option>
        <option 
          value="{{country}}"
          *ngFor="let country of countries">{{country}}</option>
      </select>
    </div>
  </div>
  <app-dashboard-card [totalData]="totalData"></app-dashboard-card>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Cases</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let cd of selectedCountryData; index as index">
            <td>{{index + 1}}</td>
            <td>{{cd.date | date}}</td>
            <td>{{cd.cases}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <google-chart [columns]="lineChartColumns" [data]="lineChartData" [type]="lineChartType" [options]="lineChartOptions"></google-chart>
    </div>
  </div>
</div>